/* Home Section  */
#logo
{
   margin:0px -170px 0px 0px;
}
#item
{
    padding:0px 1px 0px 1px;
}

/* Services Section  */
#services1
{
   margin:100px -20px 0px 310px;
}
#services2
{
   margin:30px 20px 0px 310px;
}
#services3
{
   margin:30px 50px 20px 310px;
}

